{% extends 'base.html' %}
{% load static %}


{% block content %}

<main class="main">
    <section class="contacts _bg2">
        <div class="_container _row">
            <div class="contacts__box">
                <h3 class="contacts__caption">Контакты</h3>
                <div class="footer__text _g">Email</div><a class="link _o footer__link" href="mailto:skidka71@gmail.com">skidka71@gmail.com</a>
                <div class="footer__text _g">Моб.телефон</div><a class="link _o footer__link" href="tel:+7 806 132 6549">+7 806 132 6549</a><a class="link _o footer__link" href="tel:+7 806 132 6549">+7 806 132 6549</a>
                <div class="footer__text _g">Соц.сети</div>
                <div class="contacts__soc-box">
                    <a class="footer__soc _in" href="#"></a>
                    <a class="footer__soc _fb" href="#"></a>
                    <a class="footer__soc _vk" href="#"></a>
                </div>
            </div>
            <div class="contacts__app">
                <div class="footer__text _g">Можете скачать наше
                    <br>приложение на свой смартфон.</div>
                <div class="footer__score">
                    <a class="google-pl" href="#"></a>
                    <a class="app-store" href="#"></a>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}

{% block footer %}{% endblock %}