{% extends 'base.html' %}
{% load static %}


{% block content %}


<main class="main">
    <section class="coupons">
        <div class="_container coupons__container">
            <form class="_row feedback__form" action="#" method="post">
                <h3 class="_ptb-n coupons__caption">Создание купона</h3>
                <div class="feedback__input-box">
                    <input class="input" id="namef" name="name" type="text" required placeholder=" ">
                    <label class="feedback__label" for="namef">Название купона</label>
                </div>
                <div class="feedback__double">
                    <div class="feedback__input-box">
                        <input class="input" id="codef" name="code" type="number" required placeholder=" ">
                        <label class="feedback__label" for="codef">Код</label>
                    </div>
                </div>
                <div class="feedback__input-box">
                    <input class="feedback__file" id="imagef" name="image" type="file" required placeholder=" ">
                    <label class="feedback__label _file _delete" for="imagef" data-file="выберите файл">Изображение</label>
                </div>
                <div class="feedback__text">Период действия</div>
                <div class="feedback__double">
                    <div class="feedback__input-box">
                        <input class="input feedback__date" id="fromf" name="from" type="text" required placeholder=" ">
                        <label class="feedback__label" for="fromf">от</label>
                    </div>
                    <div class="feedback__input-box">
                        <input class="input feedback__date" id="tof" name="to" type="text" required placeholder=" ">
                        <label class="feedback__label" for="tof">до</label>
                    </div>
                </div>
                <div class="feedback__double">
                    <div class="feedback__input-box">
                        <input class="input" id="quantityf" name="quantity" type="number" required placeholder=" ">
                        <label class="feedback__label" for="quantityf">Количество купонов</label>
                    </div>
                </div>
                <div class="feedback__input-box">
                    <input class="input" id="addrf" name="addr" type="text" required placeholder=" ">
                    <label class="feedback__label" for="addrf">Адрес</label>
                </div><a class="link feedback__forgot" href="#">выбрать на карте</a>
                <div class="feedback__input-box">
                    <textarea class="input" id="descriptionf" name="description" type="text" rows="4" required placeholder=" "></textarea>
                    <label class="feedback__label _textarea" for="descriptionf">Описание</label>
                </div>
                <div class="_col-12 coupons__btn-box">
                    <button class="button" type="submit">Создать купон</button>
                </div>
            </form>
        </div>
    </section>
</main>


{% endblock %}

{% block footer %}{% endblock %}