{% extends 'base.html' %}
{% load static tags_custom %}


{% block content %}


<!--<main class="main">-->
<!--    <section class="coupons">-->
<!--        <div class="_container _row coupons__container">-->
<!--            <h3 class="_col-12 _ptb-n coupons__caption">Ваши купоны</h3>-->
<!--            <div class="_col-12 _p-n _row coupons__nav">-->
<!--                <a class="link coupons__link" href="#">Активные</a>-->
<!--                <a class="link coupons__link" href="#">Все</a>-->
<!--                <a class="link coupons__link" href="#">На паузе</a>-->
<!--            </div>-->
<!--            <div class="coupons__item-box">-->
<!--                <div class="coupons__item _pause" data-quantity="154">-->
<!--                    <div class="coupons__left" style="background-image:url({% static 'img/pic1.jpg' %})">-->
<!--                        <button class="coupons__menu" type="button"></button>-->
<!--                    </div>-->
<!--                    <div class="coupons__right">-->
<!--                        <div class="coupons__date">с 22.02.2019 до 28.04.2019</div>-->
<!--                        <div class="coupons__title">Бесплатный бургер в McDonalds</div>-->
<!--                        <div class="coupons__line">-->
<!--                            <div class="coupons__number">549846152164</div>-->
<!--                            <div class="coupons__addr">ул.Бородинская д.25</div>-->
<!--                        </div>-->
<!--                        <div class="coupons__text">Описание купона есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда. Описание купона есть много вариантов Lorem Ipsum.</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="coupons__item-box">-->
<!--                <div class="coupons__item _active" data-quantity="14">-->
<!--                    <div class="coupons__left" style="background-image:url({% static 'img/pic1.jpg' %})">-->
<!--                        <button class="coupons__menu" type="button"></button>-->
<!--                    </div>-->
<!--                    <div class="coupons__right">-->
<!--                        <div class="coupons__date">с 22.02.2019 до 28.04.2019</div>-->
<!--                        <div class="coupons__title">Бесплатный бургер в McDonalds</div>-->
<!--                        <div class="coupons__line">-->
<!--                            <div class="coupons__number">549846152164</div>-->
<!--                            <div class="coupons__addr">ул.Бородинская д.25</div>-->
<!--                        </div>-->
<!--                        <div class="coupons__text">Описание купона есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда. Описание купона есть много вариантов Lorem Ipsum.</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="coupons__item-box">-->
<!--                <div class="coupons__item _pause" data-quantity="154">-->
<!--                    <div class="coupons__left" style="background-image:url({% static 'img/pic1.jpg' %})">-->
<!--                        <button class="coupons__menu" type="button"></button>-->
<!--                    </div>-->
<!--                    <div class="coupons__right">-->
<!--                        <div class="coupons__date">с 22.02.2019 до 28.04.2019</div>-->
<!--                        <div class="coupons__title">Бесплатный бургер в McDonalds</div>-->
<!--                        <div class="coupons__line">-->
<!--                            <div class="coupons__number">549846152164</div>-->
<!--                            <div class="coupons__addr">ул.Бородинская д.25</div>-->
<!--                        </div>-->
<!--                        <div class="coupons__text">Описание купона есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда. Описание купона есть много вариантов Lorem Ipsum.</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="coupons__item-box">-->
<!--                <div class="coupons__item _active" data-quantity="14">-->
<!--                    <div class="coupons__left" style="background-image:url({% static 'img/pic1.jpg' %})">-->
<!--                        <button class="coupons__menu" type="button"></button>-->
<!--                    </div>-->
<!--                    <div class="coupons__right">-->
<!--                        <div class="coupons__date">с 22.02.2019 до 28.04.2019</div>-->
<!--                        <div class="coupons__title">Бесплатный бургер в McDonalds</div>-->
<!--                        <div class="coupons__line">-->
<!--                            <div class="coupons__number">549846152164</div>-->
<!--                            <div class="coupons__addr">ул.Бородинская д.25</div>-->
<!--                        </div>-->
<!--                        <div class="coupons__text">Описание купона есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда. Описание купона есть много вариантов Lorem Ipsum.</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="_col-12 coupons__btn-box"><a class="button" href="{% url 'coupon_create_cs' %}">Добавить купон</a></div>-->
<!--        </div>-->
<!--    </section>-->
<!--</main>-->


<hr>


<main class="main">
    <section class="coupons">
        <div class="_container _row coupons__container">
            <h3 class="_col-12 _ptb-n coupons__caption">Ваши купоны</h3>
            <div class="_col-12 _p-n _row coupons__nav">
                <a class="link coupons__link" href="#">Активные</a>
                <a class="link coupons__link" href="#">Все</a>
                <a class="link coupons__link" href="#">На паузе</a>
            </div>

            {% for item in data %}
            {% get_coupon_code item.id %}
            <div class="coupons__item-box">
                <div class="coupons__item _pause" data-quantity='{% if item.coupon_balance is None %}0{% else %}{{ item.coupon_balance }}{% endif %}'>
                    <div class="coupons__left" style="background-image:url({% if item.album.0.image %}{{ item.album.0.image }}{% else %}{% static 'img/pic1.jpg' %}{% endif %})">
                        <button class="coupons__menu" type="button"></button>
                    </div>
                    <div class="coupons__right">
                        <div class="coupons__date">с {% get_date_value item.init_time %} до {% get_date_value item.validity %}</div>
                        <div class="coupons__title">{{ item.description }}</div>
                        <div class="coupons__line">
                            <div class="coupons__number">549846152164</div>
                            <div class="coupons__addr">{{ item.discounter.address }}</div>
                        </div>
                        <div class="coupons__text">{{ item.description }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="_col-12 coupons__btn-box"><a class="button" href="{% url 'coupon_create_cs' %}">Добавить купон</a></div>
        </div>
    </section>
</main>


{% endblock %}

{% block footer %}{% endblock %}