{% extends 'base.html' %}
{% load static %}


{% block content %}
<main class="main">
    <section class="faq _bg2">
        <div class="_container _row">
            <h3 class="_col-12 faq__caption">FAQ</h3>
            <div class="faq__spoiler-box">
                <div class="faq__spoiler _active">
                    <div class="faq__title">С чего начать?</div>
                    <div class="faq__text-box">
                        <div class="faq__text">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором.</div>
                    </div>
                </div>
            </div>
            <div class="faq__spoiler-box">
                <div class="faq__spoiler">
                    <div class="faq__title">Как создать свой купон?</div>
                    <div class="faq__text-box">
                        <div class="faq__text">Есть много</div>
                    </div>
                </div>
            </div>
            <div class="faq__spoiler-box">
                <div class="faq__spoiler">
                    <div class="faq__title">Не приходит ответ на мою заявку</div>
                    <div class="faq__text-box">
                        <div class="faq__text">Есть много</div>
                    </div>
                </div>
            </div>
            <div class="faq__spoiler-box">
                <div class="faq__spoiler">
                    <div class="faq__title">Как связаться с администратором?</div>
                    <div class="faq__text-box">
                        <div class="faq__text">Есть много</div>
                    </div>
                </div>
            </div>
            <div class="faq__spoiler-box">
                <div class="faq__spoiler">
                    <div class="faq__title">В чем выгода от сотрудничества с вами?</div>
                    <div class="faq__text-box">
                        <div class="faq__text">Есть много</div>
                    </div>
                </div>
            </div>
            <div class="faq__spoiler-box">
                <div class="faq__spoiler">
                    <div class="faq__title">У вас есть офис?</div>
                    <div class="faq__text-box">
                        <div class="faq__text">Есть много</div>
                    </div>
                </div>
            </div>
            <div class="faq__spoiler-box">
                <div class="faq__spoiler">
                    <div class="faq__title">Не работает приложение. Куда мне обратиться за помощью?</div>
                    <div class="faq__text-box">
                        <div class="faq__text">Есть много</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script></script>
{% endblock %}

{% block footer %}{% endblock %}