{% extends 'base.html' %}

{% load static %}


{% block content %}
<main class="main">
    <header class="header">
        <div class="_container _row">
            <div class="_col-lg-8 _ml-lg-4 _ptb-n header__sub-caption">Все купоны региона на&nbsp;одном сайте</div>
            <h1 class="_col-lg-8 _ml-lg-4 header__caption">Собирай купоны,<br>покупай со&nbsp;скидкой</h1>
            <div class="header__score">
                <a class="google-pl" href="#"></a>
                <a class="app-store" href="#"></a>
            </div>
        </div>
    </header>
    <aside class="about _container _row">
        <div class="_col-lg-4 about__item _i1">
            <div class="about__title">Мобильное приложение</div>
            <div class="about__text _g">Например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</div>
        </div>
        <div class="_col-lg-4 about__item _i2">
            <div class="about__title">Отдел тех.поддержки</div>
            <div class="about__text _g">Например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</div>
        </div>
        <div class="_col-lg-4 about__item _i3">
            <div class="about__title">Минимальная комиссия</div>
            <div class="about__text _g">Например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</div>
        </div>
        <div class="_col-lg-4 about__item _i1">
            <div class="about__title">Мобильное приложение</div>
            <div class="about__text _g">Например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</div>
        </div>
        <div class="_col-lg-4 about__item _i2">
            <div class="about__title">Отдел тех.поддержки</div>
            <div class="about__text _g">Например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</div>
        </div>
        <div class="_col-lg-4 about__item _i3">
            <div class="about__title">Минимальная комиссия</div>
            <div class="about__text _g">Например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</div>
        </div>
    </aside>
    <section class="partners _container _row">
        <h3 class="_col-12 _sub partners__caption">Наши партнеры</h3>
        <div class="_col-12 _p-n partners__box">
            <div class="swiper__btn-prev" id="partners-prev"></div>
            <div class="swiper-container" id="partners">
                <div class="swiper-wrapper">
                    <div class="swiper-slide partners__slide"><img class="partners__brand" src="{% static 'svg/md.svg' %}" alt="brand"></div>
                    <div class="swiper-slide partners__slide"><img class="partners__brand" src="{% static 'svg/cc.svg' %}" alt="brand"></div>
                    <div class="swiper-slide partners__slide"><img class="partners__brand" src="{% static 'svg/sb.svg' %}" alt="brand"></div>
                    <div class="swiper-slide partners__slide"><img class="partners__brand" src="{% static 'svg/su.svg' %}" alt="brand"></div>
                    <div class="swiper-slide partners__slide"><img class="partners__brand" src="{% static 'svg/gl.svg' %}" alt="brand"></div>
                </div>
            </div>
            <div class="swiper__btn-next" id="partners-next"></div>
        </div>
    </section>
    <section class="reviews _container _row">
        <h3 class="_col-12 reviews__caption">Отзывы наших клиентов</h3>
        <div class="_col-10 _offset-lg-1 _p-n reviews__box">
            <div class="swiper__btn-prev" id="reviews-prev"></div>
            <div class="swiper-container" id="reviews">
                <div class="swiper-wrapper">
                    <div class="swiper-slide reviews__slide _g">
                        <div class="reviews__photo"><img class="reviews__img" src="{% static 'img/user.jpg' %}" alt="Константин Константинопольский"></div>
                        <div class="reviews__title _p">Константин Константинопольский</div>
                        <div class="reviews__sub-title">директор McDonalds</div>
                        <div class="reviews__text">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</div>
                    </div>
                    <div class="swiper-slide reviews__slide _g">
                        <div class="reviews__photo"><img class="reviews__img" src="{% static 'img/user.jpg' %}" alt="Константин Константинопольский"></div>
                        <div class="reviews__title _p">Константин Константинопольский</div>
                        <div class="reviews__sub-title">директор McDonalds</div>
                        <div class="reviews__text">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</div>
                    </div>
                    <div class="swiper-slide reviews__slide _g">
                        <div class="reviews__photo"><img class="reviews__img" src="{% static 'img/user.jpg' %}" alt="Константин Константинопольский"></div>
                        <div class="reviews__title _p">Константин Константинопольский</div>
                        <div class="reviews__sub-title">директор McDonalds</div>
                        <div class="reviews__text">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</div>
                    </div>
                    <div class="swiper-slide reviews__slide _g">
                        <div class="reviews__photo"><img class="reviews__img" src="{% static 'img/user.jpg' %}" alt="Константин Константинопольский"></div>
                        <div class="reviews__title _p">Константин Константинопольский</div>
                        <div class="reviews__sub-title">директор McDonalds</div>
                        <div class="reviews__text">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</div>
                    </div>
                    <div class="swiper-slide reviews__slide _g">
                        <div class="reviews__photo"><img class="reviews__img" src="{% static 'img/user.jpg' %}" alt="Константин Константинопольский"></div>
                        <div class="reviews__title _p">Константин Константинопольский</div>
                        <div class="reviews__sub-title">директор McDonalds</div>
                        <div class="reviews__text">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.</div>
                    </div>
                </div>
            </div>
            <div class="swiper__btn-next" id="reviews-next"></div>
            <div class="swiper__pagination" id="reviews-pagination"></div>
        </div>
    </section>
    <aside class="feedback">
        <div class="feedback__form-box">
            <div class="_container">
                <form class="_row feedback__form" action="#" method="post">
                    <h4 class="feedback__caption">Оставьте свои данные<br>и мы с вами свяжемся</h4>
                    <div class="feedback__sub-caption _g">Укажите ваши актуальные данные и&nbsp;мы&nbsp;вам позвоним в&nbsp;течении 7&nbsp;минут</div>
                    <div class="feedback__input-box">
                        <input class="input feedback__input" id="companyf" name="company" type="text" placeholder=" ">
                        <label class="feedback__label _i1" for="companyf">Название компании</label>
                    </div>
                    <div class="feedback__input-box">
                        <input class="input feedback__input" id="phonef" name="phone" type="tel" required placeholder=" ">
                        <label class="feedback__label _i2" for="phonef">Моб.телефон</label>
                    </div>
                    <div class="feedback__input-box">
                        <input class="input feedback__input" id="fiof" name="fio" type="text" placeholder=" ">
                        <label class="feedback__label _i3" for="fiof">Фамилия Имя Отчество</label>
                    </div>
                    <div class="feedback__btn-box log-btn">
                        <button class="button" type="submit">Позвоните мне</button>
                    </div>
                    <div class="feedback__error-text"></div>
                </form>
            </div>
        </div>
    </aside>
</main>



<script>

    $(document).ready(function(){
        
        // getCookie берем из djangoproject
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    
    
        $(document).on('click', '.log-btn', function(event){
            event.preventDefault()
    
            $('#companyf').removeClass('_error')
            $('#phonef').removeClass('_error')
            $('#fiof').removeClass('_error')
    
            company = $('#companyf').val();
            phone = $('#phonef').val();
            fio = $('#fiof').val();
    
            var parser = document.createElement('a');
            parser.href = window.location.href;
            domain = parser.origin;
            url = domain + '/users/recall_discount/'
    
            phone = phone.charAt(0) == '+' ? phone.replace('-','').replace(')','').replace('(','') : null

            // empty values validation
            if(company.length == 0) {
                $('.feedback__error-text').html(`Заполните поля.`)
                $('#companyf').addClass('_error')
            } 

            if(phone == null) {
                $('.feedback__error-text').html(`Заполните поля.`)
                $('#phonef').addClass('_error')
            } 
            if(fio.length == 0) {
                $('.feedback__error-text').html(`Заполните поля.`)
                $('#fiof').addClass('_error')
            }
            
            if ($('._error').length == 0) {
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        company: company,
                        phone: phone,
                        full_name: fio,
                        csrfmiddlewaretoken: csrftoken
                    },
                    success: (response) => {
                        $('.feedback__error-text').html('Спасибо за регистрацию. Администратор свяжится с Вами ближайшее время.')
                        setTimeout(function(){
                            $('.feedback__error-text').html('');
                        }, 5000);
                    },
                    error: (response) => {
                        error = JSON.parse(response.responseText).errors.msg
                        if(error.includes('phone')) {
                            $('.feedback__error-text').html(`Значение ${phone} уже используется.`)
                            $('#phonef').addClass('_error')
                        } else if(error.includes('company')) {
                            $('.feedback__error-text').html(`Значение ${company} уже используется.`)
                            $('#companyf').addClass('_error')
                        } else if(error.includes('full_name')) {
                            $('.feedback__error-text').html(`Значение ${fio} уже используется.`)
                            $('#fiof').addClass('_error')
                        }
                    },
                });
            }  
        });
    
    });
    
</script>
{% endblock %}