{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main">
<section class="auth _bg2 _row">
    <div class="_container auth__form-box">
        <form class="_row feedback__form" action="#" method="post">
            <h4 class="feedback__caption">Поздраляем!</h4>
            <div class="feedback__sub-caption _g">Вы только что успешно создали новый пароль. Попробуйте теперь войти в свой аккаунт.</div>
            <div class="feedback__input-box">
                <input class="input feedback__input" id="phonef" name="phone" type="tel" required placeholder=" ">
                <label class="feedback__label _i2" for="phonef">Моб.телефон</label>
            </div>
            <div class="feedback__input-box">
                <input class="input feedback__input" id="passf" name="pass" type="password" required placeholder=" ">
                <label class="feedback__label _i4" for="passf">Пароль</label>
                <button class="feedback__show" type="button"></button>
            </div><a class="link feedback__forgot" href="#">Забыли пароль?</a>
            <div class="feedback__btn-box">
                <button class="button log-btn" type="submit">Войти</button>
            </div>
            <div class="feedback__error-text"></div>
            <a class="link feedback__new-user" href="{% url 'reg_cs' %}">Создать новый аккаунт</a>
        </form>
    </div>
</section>
</main>




<script>

$(document).ready(function(){
    
    // getCookie берем из djangoproject
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');


    $(document).on('click', '.log-btn', function(event){
        event.preventDefault()

        $('#passf').removeClass('_error')
        
        pass = $('#passf').val();
        login = $('#phonef').val();

        var parser = document.createElement('a');
        parser.href = window.location.href;
        domain = parser.origin;
        url = domain + '/api/v1/auth/token/login/'

        login = login.charAt(0) == '+' ? login.replace('-','').replace(')','').replace('(','') : null

        $.ajax({
            url: '/login_user/',
            type: 'GET',
            dataType: 'json',
            data: {
                password: pass,
                dynamic_username: login,
            },
            success: (response) => {
                if (response.status == 'ok') {
                    window.location.href = "/";
                } else {
                    $('.feedback__error-text').html()
                    $('.feedback__error-text').html('Проверте правильность заполненный данных.')
                }
            }
        });
    });

});

</script>


{% endblock %}

{% block footer %}{% endblock %}