{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main">
<section class="auth _bg2 _row">
    <div class="_container auth__form-box">
        <form class="_row feedback__form" action="#" method="post">
            <h4 class="feedback__caption">Создание нового пароля</h4>
            <div class="feedback__sub-caption _g">Пожалуйста, введите новый шестизначный пароль</div>
            <div class="feedback__input-box">
                <input class="input feedback__input phone_inp" id="phonef" name="phone" type="tel" required placeholder=" ">
                <label class="feedback__label _i2" for="phonef">Моб.телефон</label>
            </div>
            <div class="feedback__input-box">
                <input class="input feedback__input new_pass" id="passlf" name="pass" type="password" required placeholder=" ">
                <label class="feedback__label _i4" for="passlf">Новый пароль</label>
                <button class="feedback__show" type="button"></button>
            </div>
            <div class="feedback__input-box">
                <input class="input feedback__input new_pass_conf" id="passrf" name="passr" type="password" required placeholder=" ">
                <label class="feedback__label _i4" for="passrf">Повторите новый пароль</label>
                <button class="feedback__show" type="button"></button>
            </div>
            <div class="feedback__btn-box">
                <button class="button btn-change" type="submit">Изменить пароль</button>
            </div>
            <div class="feedback__error-text"></div>
        </form>
    </div>
</section>
</main>



<script>

$(document).ready(function(){
    
    // getCookie берем из djangoproject
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');


    $(document).on('click', '.btn-change', function(event){
        event.preventDefault()

        $('.feedback__input').removeClass('_error')
        $('.feedback__error-text').html()

        phone_p = $('.phone_inp').val().replace('(','').replace(')','').replace('-','');
        new_p = $('.new_pass').val();
        conf_p = $('.new_pass_conf').val();

        if (new_p !== conf_p) {
            $('.feedback__error-text').html('Новый пароль не совпадают.')
        } else if (new_p.length < 6) {
            $('.feedback__error-text').html('Новый пароль должен состоять не менее чем из 6 символов.')
        }

        var parser = document.createElement('a');
        parser.href = window.location.href;
        domain = parser.origin;

        main_url = '{% url "get_password_cs" %}'
        main_url_success = '{% url "set_password_success" %}'

        $.ajax({
            url: main_url,
            type: 'GET',
            dataType: 'json',
            data: {
                phone: phone_p,
                new_password: new_p,
                csrfmiddlewaretoken: csrftoken
            },
            success: (response) => {
                if(response.status == 'ok'){
                    window.location.href = domain+main_url_success;
                }
            },
        });
    });

});

</script>


{% endblock %}

{% block footer %}{% endblock %}