{% extends 'base.html' %}
{% load static %}


{% block content %}

<main class="main">
    <section class="rates _bg2">
        <div class="_container _row rates__container">
            <h3 class="_col-12 rates__caption">Тарифы</h3>
            <div class="rates__item-box _i1">
                <div class="rates__item">
                    <div class="rates__title">Бесплатный</div>
                    <div class="rates__text">Есть много вариантов Lorem Ipsum, но большинство из них</div>
                    <div class="rates__list">
                        <div class="rates__list-item">asd</div>
                        <div class="rates__list-item">asd</div>
                        <div class="rates__list-item">asd</div>
                    </div>
                    <div class="rates__price">0$</div>
                    <div class="rates__time">в месяц</div>
                    <div class="rates__btn-box">
                        <button class="button _s rates__btn" type="button">Получить</button>
                    </div>
                </div>
            </div>
            <div class="rates__item-box _i2">
                <div class="rates__item">
                    <div class="rates__title">Бесплатный</div>
                    <div class="rates__text">Есть много вариантов Lorem Ipsum, но большинство из них</div>
                    <div class="rates__list">
                        <div class="rates__list-item">asd</div>
                        <div class="rates__list-item">asd</div>
                        <div class="rates__list-item">asd</div>
                        <div class="rates__list-item">asd</div>
                        <div class="rates__list-item">asd</div>
                        <div class="rates__list-item">asd</div>
                    </div>
                    <div class="rates__price">0$</div>
                    <div class="rates__time">в месяц</div>
                    <div class="rates__btn-box">
                        <button class="button _s rates__btn" type="button">Получить</button>
                    </div>
                </div>
            </div>
            <div class="rates__item-box _i3">
                <div class="rates__item">
                    <div class="rates__title">Бесплатный</div>
                    <div class="rates__text">Есть много вариантов Lorem Ipsum, но большинство из них</div>
                    <div class="rates__list">
                        <div class="rates__list-item">asd</div>
                        <div class="rates__list-item">asd</div>
                        <div class="rates__list-item">asd</div>
                        <div class="rates__list-item">asd</div>
                        <div class="rates__list-item">asd</div>
                        <div class="rates__list-item">asd</div>
                    </div>
                    <div class="rates__price">0$</div>
                    <div class="rates__time">в месяц</div>
                    <div class="rates__btn-box">
                        <button class="button _s rates__btn" type="button">Получить</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


{% endblock %}

{% block footer %}{% endblock %}