{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main">
<section class="auth _bg2 _row">
    <div class="_container auth__form-box">
        <form class="_row feedback__form" action="#" method="post">
            <h4 class="feedback__caption">Заявка на создание нового аккаунта</h4>
            <div class="feedback__sub-caption _g">Укажите ваши актуальные данные и станьте партнером нашей компании</div>
            <div class="feedback__input-box">
                <input class="input feedback__input" id="companyf" name="company" type="text" required placeholder=" ">
                <label class="feedback__label _i1" for="companyf">Название компании</label>
            </div>
            <div class="feedback__input-box">
                <input class="input feedback__input" id="phonef" name="phone" type="tel" required placeholder=" ">
                <label class="feedback__label _i2" for="phonef">Моб.телефон</label>
            </div>
            <div class="feedback__input-box">
                <input class="input feedback__input" id="fiof" name="fio" type="text" required placeholder=" ">
                <label class="feedback__label _i3" for="fiof">Фамилия Имя Отчество</label>
            </div>
            <div class="feedback__btn-box">
                <button class="button log-btn" type="submit">Войти</button>
            </div>
            <div class="feedback__error-text"></div>
            <a class="link feedback__new-user" href="{% url 'reg_cs' %}">Создать новый аккаунт</a>
        </form>
    </div>
</section>
</main>

<script>

$(document).ready(function(){
    
    // getCookie берем из djangoproject
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');


    $(document).on('click', '.log-btn', function(event){
        event.preventDefault()

        $('#companyf').removeClass('_error')
        $('#phonef').removeClass('_error')
        $('#fiof').removeClass('_error')

        company = $('#companyf').val();
        phone = $('#phonef').val();
        fio = $('#fiof').val();

        var parser = document.createElement('a');
        parser.href = window.location.href;
        domain = parser.origin;
        url = domain + '/users/recall_discount/'

        phone = phone.charAt(0) == '+' ? phone.replace('-','').replace(')','').replace('(','') : null

        // empty values validation
        if(company.length == 0) {
            $('.feedback__error-text').html(`Заполните поля.`)
            $('#companyf').addClass('_error')
        } 

        if(phone == null) {
            $('.feedback__error-text').html(`Заполните поля.`)
            $('#phonef').addClass('_error')
        } 
        if(fio.length == 0) {
            $('.feedback__error-text').html(`Заполните поля.`)
            $('#fiof').addClass('_error')
        }
        
        if ($('._error').length == 0) {
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: {
                    company: company,
                    phone: phone,
                    full_name: fio,
                    csrfmiddlewaretoken: csrftoken
                },
                success: (response) => {
                    $('.feedback__error-text').html('Спасибо за регистрацию. Администратор свяжится с Вами ближайшее время. Вы будете автоматически перенаправленына гланую страницу через <span id="modal-timer">5</span> сек')
                    
                    // REDIRECT TO HOME PAGE
                    var myVar = setInterval(myTimer, 1000);
                    function myTimer() {
                        var newSec = parseInt(document.getElementById("modal-timer").innerHTML) - 1;
                        document.getElementById("modal-timer").innerHTML = newSec;
                    }
                    setTimeout(function(){
                        window.location.href = "/";
                    }, 5000);
                },
                error: (response) => {

                    error = JSON.parse(response.responseText).errors.msg
                    if(error.includes('phone')) {
                        $('.feedback__error-text').html(`Значение ${phone} уже используется.`)
                        $('#phonef').addClass('_error')
                    } else if(error.includes('company')) {
                        $('.feedback__error-text').html(`Значение ${company} уже используется.`)
                        $('#companyf').addClass('_error')
                    } else if(error.includes('full_name')) {
                        $('.feedback__error-text').html(`Значение ${fio} уже используется.`)
                        $('#fiof').addClass('_error')
                    }
                },
            });
        }        
    });

});

</script>
{% endblock %}

{% block footer %}{% endblock %}
        