<p>Доброго времени суток,</p>

<p>Пожалуйста, активируйте аккаунт {{ email }}, пройдите по ссылке:</p>

<p><a href='{{ path }}'>{{ path }}</a></p>
<p>После активации вы сможете войти в свой кабиент!</p>
<p>С уважением</p>
<p>Скидка71</p>