{% load static %}
<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta charset="utf-8">
    <title>Skidka71</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Skidka71">
    <meta name="keywords" content="Skidka71">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Skidka71">
    <meta property="og:description" content="">
    <meta property="og:url" content="http://test.ru/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="//test.ru/img/image.jpg">
    <meta property="og:locale" content="ru_RU">
    <link rel="icon" sizes="16x16" href="/favicon16.png">
    <link rel="icon" sizes="32x32" href="/favicon32.png">
    <link rel="icon" sizes="64x64" href="/favicon64.png">
    <link rel="apple-touch-icon-precomposed" href="//test.ru/img/image-180x180.jpg">
    <meta name="msapplication-TileImage" content="//test.ru/img/image-270x270.jpg">
    <link href="{% static 'main.css' %}" rel="stylesheet">
<!--    <link href="{% static 'custom_css.css' %}" rel="stylesheet">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="wrap-container">
            <div class="top-menu _container _row">
                <div class="top-menu__logo-box"><a href="/"><img class="top-menu__logo" src="{% static '/svg/logo.svg' %}" alt="Скидка 71"></a></div>
                <nav class="_row top-menu__nav">
                    <a class="link top-menu__item" href="{% url 'rates_cs' %}">Тарифы</a>
                    <a class="link top-menu__item" href="{% url 'faq_cs' %}">FAQ</a>
                    <a class="link top-menu__item" href="{% url 'contacts_cs' %}">Контакты</a>
                </nav>
                <div class="top-menu__auth"><a class="link top-menu__item _s" href="{% url 'reg_cs' %}">Создать&nbsp;аккаунт</a>
                    <div class="top-menu__btn-box">
                        {% if not request.user.dynamic_username %}
                            <a class="button top-menu__login" href="{% url 'login_cs' %}">Войти</a>
                        {% else %}
                            <a class="button top-menu__login" href="{% url 'logout_cs' %}">Выйти</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% block content %}{% endblock content %}

        </div>
        {% block footer %}
            <footer class="footer _container _row">
                <div class="_col-12 _p-n footer__box">
                    <div class="footer__text _g">Email</div><a class="link _o footer__link" href="mailto:skidka71@gmail.com">skidka71@gmail.com</a>
                    <div class="footer__text _g">Моб.телефон</div><a class="link _o footer__link" href="tel:+7 806 132 6549">+7 806 132 6549</a><a class="link _o footer__link" href="tel:+7 806 132 6549">+7 806 132 6549</a>
                    <div class="footer__text _g">Соц.сети</div>
                    <div class="footer__soc-box">
                        <a class="footer__soc _in" href="#"></a>
                        <a class="footer__soc _fb" href="#"></a>
                        <a class="footer__soc _vk" href="#"></a>
                    </div>
                    <div class="footer__text _g">Можете скачать наше
                        <br>приложение на свой смартфон.</div>
                    <div class="footer__score">
                        <a class="google-pl" href="#"></a>
                        <a class="app-store" href="#"></a>
                    </div>
                </div>
                <nav class="_col-12 _p-n footer__nav">
                    <a class="link footer__nav-item" href="/">Главная</a>
                    <a class="link footer__nav-item" href="{% url 'rates_cs' %}">Тарифы</a>
                    <a class="link footer__nav-item" href="{% url 'faq_cs' %}">FAQ</a>
                    <a class="link footer__nav-item" href="{% url 'contacts_cs' %}">Контакты</a>
                    <a class="link footer__nav-item" href="{% url 'reg_cs' %}">Войти в аккаунт</a>
                </nav>
            </footer>
        {% endblock %}
    </div>
    <input class="modal__checkbox" id="modal-close" type="checkbox">
    <aside class="modal">
        <label class="modal__bg" for="modal-close"></label>
        <div class="_col-12 modal__form-box">
            <form class="_row payment__form _p-n" action="/mail.php" method="POST">
                <div class="_col-12">
                    <input class="input" name="name" type="text" placeholder="Ваше имя" required="required">
                </div>
                <div class="_col-12">
                    <input class="input" name="phone" type="tel" placeholder="Ваш телефон" required="required">
                </div>
                <div class="_col-12">
                    <input class="input" name="email" type="email" placeholder="Ваш e-mail">
                </div>
                <div class="_col-12">
                    <button class="button" type="submit">Оставить заявку</button>
                </div>
                <div class="modal__label-box">
                    <input class="check" id="check2" type="checkbox" checked="checked" required="required">
                    <label class="check-label" for="check2">Даю согласие на&nbsp;обработку
                        <br><a class="link" href="/privacy-policy/">персональных данных</a></label>
                </div>
            </form>
        </div>
        <label class="modal__close" for="modal-close"></label>
    </aside>
    <script src="{% static 'swiper.min.js' %}"></script>
    <script>
        var swiperPartners = new Swiper('#partners', {
            slidesPerView: 5,
            spaceBetween: 30,
            loop: true,
            breakpoints: {
                767: {
                    slidesPerView: 1,
                },
            },
            navigation: {
                nextEl: '#partners-next',
                prevEl: '#partners-prev',
            },
        });
        var swiperКeviews = new Swiper('#reviews', {
            slidesPerView: 2,
            spaceBetween: 30,
            enteredSlides: true,
            loop: true,
            navigation: {
                nextEl: '#reviews-next',
                prevEl: '#reviews-prev',
            },
            pagination: {
                el: '#reviews-pagination',
            },
        });

        function setSelectionRange(input, selectionStart, selectionEnd) {
            if (input.setSelectionRange) {
                input.focus();
                input.setSelectionRange(selectionStart, selectionEnd);
            } else if (input.createTextRange) {
                var range = input.createTextRange();
                range.collapse(true);
                range.moveEnd('character', selectionEnd);
                range.moveStart('character', selectionStart);
                range.select();
            }
        }

        function setCaretToPos(input, pos) {
            setSelectionRange(input, pos, pos);
        }

        function clickPhone(e) {
            let element = e.currentTarget;
            let mask = '+7(___)___-____';
            if (!element.value) {
                element.value = mask;
            }
            setCaretToPos(element, element.value.search("_"));
        }

        function blurPhone(e) {
            let element = e.currentTarget;
            let numberPhone = element.value.match(/(\d)/g);
            if (numberPhone && numberPhone.length <= 1) {
                element.value = '';
            }
        }

        function inputPhone(e) {
            let element = e.currentTarget;
            let mask = '+7(___)___-____',
                numberPhone = element.value.match(/(\d)/g);
            if (numberPhone && element.value.length != mask.length) {
                let reg1 = /\)/g,
                    reg2 = /\-/g;
                numberPhone.splice(0, 1);
                if (!reg1.test(element.value)) {
                    numberPhone.splice(2, 1);
                }
                if (!reg2.test(element.value)) {
                    numberPhone.splice(5, 1);
                }
                while (numberPhone.length < 10) {
                    numberPhone.push('_');
                }
                numberPhone.splice(10, numberPhone.length);
                numberPhone.splice(6, 0, '-');
                numberPhone.splice(3, 0, ')');
                numberPhone.splice(0, 0, '+7(');
                element.value = numberPhone.join('');
                setCaretToPos(element, element.value.search("_"));
            }
        }
        let phoneInput = document.querySelectorAll('input[type="tel"]');
        for (let i of phoneInput) {
            i.addEventListener("click", clickPhone);
            i.addEventListener("focus", clickPhone);
            i.addEventListener("blur", blurPhone);
            i.addEventListener('input', inputPhone);
        }

        function showPass(e) {
            let element = e.currentTarget.parentElement.querySelector('.feedback__input');
            if (element.getAttribute('type') == 'text') {
                element.setAttribute('type', 'password');
            } else {
                element.setAttribute('type', 'text');
            }
        }

        let showBtn = document.querySelectorAll('.feedback__show');
        for (let i of showBtn) {
            i.addEventListener("click", showPass);
        }
    </script>
    <script type="text/javascript" src="{% static 'bundle.js' %}"></script>
</body>

</html>