{% load static %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->
  	<style type="text/css">
       .cd-read-more{
        height: 500px;
         overflow: auto;
        word-wrap: normal;
-webkit-box-shadow: inset 0px 0px 35px -23px rgba(120,120,120,1);
-moz-box-shadow: inset 0px 0px 35px -23px rgba(120,120,120,1);
box-shadow: inset 0px 0px 35px -23px rgba(120,120,120,1);
       } 
    </style>
	<title>Документация API Skidka71</title>
</head>
<body>
<header class="cd-header">
	<h1>API Skidka 71 (v1)</h1>

</header>

<div class="cd-articles">
	<article>
		<header>
			<h1>Регистрация клиентов</h1>
		</header>
		<p>Для регистрации пользователя необходимо отправить POST запрос на адрес https://skidka71.yorichdevelop.ru/
        В параметрах получаемых на сервере обязаны присутствовать телефон "phone" и пароль "password". Проверка валидности номера
        телефона на сервере не проводится и должна осуществлятьсясл на клиентской стороне вместе верификацией FireBase.
	    В результате успешного запроса ответ будет содержать словарь msg = {'ret': 200, 'msg': 'true'}
		</p>
		<div id="wrapper" class="col-md-6">
<!-- Nav tabs -->
<ul id="codes" class="nav nav-tabs" role="tablist" style="padding: 10px;">
		  <div role="tabpanel" class="tab-pane active" id="tab-1-content">
		  	<div class="tab-content">
    <pre class="prettyprint linenums lang-java" style="color: #3E403F; line-height: 1.6; font-size:0.8em;">
  	
  // пример ajax запроса 
  // в data помещен асоциативный список person_login включающий в себя данные из
  // полей phone и passwore
  
    $.ajax({  
        url: 'https://skidka71.yorichdevelop.ru/api/v1/registration/',
       	type: 'POST', 
        dataType: 'json', 
        crossDomain: true,
        data: person_login, 
                      
        success: function (data) {  
                console.log(data);  
        },  
                     
        error: function (data) {  
                console.log(data);  
        }  
                
    }); 

  </pre></div>
</div></ul></div>
		</article>
		<article>
		<header>
			<h1>Регистрация дискоунтеров</h1>
		</header>
		<p>Для регистрации организации (дискоунтера) необходимо отправить POST запрос на адрес https://skidka71.yorichdevelop.ru/
        В параметрах получаемых на сервере обязаны присутствовать телефон "email" и пароль "password". После регистрации поьзователю
        необходимо подтвердить свою личность и активировать аккаунт пройдя по ссылке, отправленной на указанную в регистрации почту.
	    В результате успешного запроса ответ будет содержать словарь msg = {'ret': 200, 'msg': 'сообщение успешно отправлено на почту'} или 
	    сообщение об ошибке.
		</p>
		<div id="wrapper" class="col-md-6">
<!-- Nav tabs -->
<ul id="codes" class="nav nav-tabs" role="tablist" style="padding: 10px;">
		  <div role="tabpanel" class="tab-pane active" id="tab-1-content">
		  	<div class="tab-content">
    <pre class="prettyprint linenums lang-java" style="color: #3E403F; line-height: 1.6; font-size:0.8em;">
  	
  // пример ajax запроса 
  // в data помещен асоциативный список person_login включающий в себя данные из
  // полей email и password
  
    $.ajax({  
        url: 'https://skidka71.yorichdevelop.ru/api/v1/discounter_reg/',
       	type: 'POST', 
        crossDomain: true,
        data: person_login, 
                      
        success: function (data) {  
                console.log(data);  
        },  
                     
        error: function (data) {  
                console.log(data);  
        }  
                
    }); 

  </pre></div>
</div></ul></div>
		</article>

	<article>
		<header>
			<h1>Авторизация и токен сесссии пользователя</h1>
		</header>
	  <p>Модель авторизации для двух разных типов пользователей осуществляется по единому динамичному логину dynamic_username, который в том или ином случае, принимает значение почты или телефона</p>
		
    <p>Для авторизация пользователей в системе, API предоставляет возможность зафиксировать сессию пользователя <br> 
		в браузере или на устройстве с дальнейшей проверкой наличия токена storage пользователя.  Для этого нужно отправить
		POST запрос по ссылке .../api/v1/auth/token/create/ с параметрами dynamic_username  и password. При успешном завершении в ответ будет получен объект 
		responce.data.attributes.auth_token. Сервер проверяет налииче токена в заголовках всех последующих запросов  
		'Authorization': 'Token ' + sessionStorage.getItem('auth_token'). В случае отсутствия токена будет при запросе по
		ссылке требующей авторизации ответом будет 403</p>
		<div id="wrapper" class="col-md-6">
<!-- Nav tabs -->
<ul id="codes" class="nav nav-tabs" role="tablist" style="padding: 10px;">
		  <div role="tabpanel" class="tab-pane active" id="tab-1-content">
		  	<div class="tab-content">
    <pre class="prettyprint linenums lang-java" style="color: #3E403F; line-height: 1.6; font-size:0.8em;">
  	
    // пример ajax POST запроса на авторизацию
    // для дискоунтеров. В случае, если это будет клиент,
    // то dynamic_username должен принять phone.
    
    $.ajax({
          
          url:'https://skidka71.yorichdevelop.ru/api/v1/auth/token/create/',
          type: "POST",
          
          data: {
            dynamic_username: this.validateForm.email,
            password: this.validateForm.password,
          },

          
          success:(responce) => {
            sessionStorage.setItem('auth_token', responce.data.attributes.auth_token)
            this.$router.push({name: "home"})
          },

          error:(responce) => {
            if (responce.status === 400){
              alert('логин: ' + this.validateForm.email +' или пароль: ' + this.validateForm.password + ' неверны')
            }
          }
        }); 
    
    // добавление токена в заголовок
    
    $.ajaxSetup({
      headers: {
        'Authorization': 'Token ' + sessionStorage.getItem('auth_token')
      },
    });
  </pre></div>
</div></ul></div>
</article>
    <article>
        <header>
            <h1>Выход и удаление токена авторизации</h1>
        </header>
    <p>Для преращения сесси аторизованного пользователя необходимо удалить
    токен авторизации, который создается на сервере в момент авторизации. Для этого
необходимо отправить GET запрос по адресу ../api/v1/logout/ </p>
<p>В случае успешного выполнения опреции сервер вернет статус 200 и msd true</p>

</article>



<article>
		<header>
			<h1>Смена пароля</h1>
		</header>
	
		<p>Смена паролья осуществляется только при наличии email в учетной записи пользователя.
		Для свершения операции необходимо предложить пользователю ввести email, к которому была
		привязана учетная запись и отправить GET запрос .../api/v1/reset_password/ с параметром
		email равным введённой пользователем почте.</p>
		<p>Сервер отправит email сообщение на указанную почту, в которой пользователю будет
		предложено пройти все этапы смены пароля. В случае, если пароль не был зарегистрирован,
		сервер отдаст в ответ сообщение и статус об ошибке. </p>
		<p>данный url используется для всех смены данныз всех типов пользователей</p>
</article>
<article>
		<header>
			<h1>Список всех купонов</h1>
		</header>
	
		<p>Список всех купонов не требует авторизации, для отображения данных достаточно отправить GET 
		запрос по ссылке .../api/v1/coupons/. В случае успешного запроса в ответ будет получен JSON объект.<br><br>
		Запрос принимает в параметрах только один параметр category_id, который должен принять id категории дискоунтеров. В этом случае в ответ будут получены купоны в соотсветсвии с категорией. Пустой category_id
        вернет общий список купонов.

        Каждый объект купона содержит в себе:<br>
        id - id купона, <br>
        percent - размер скидки (строковое значение в процентах), <br>
        limited_quantity - заявленное кол-во купонов, <br>
        coupon_balance - осталось купонов, <br>
		discounter - дискоунтер (создатель купона), <br>
		description - email магазина, <br>
		category - категоря купона, <br>
		validity - срок действия / дата окончания действия, <br>
		init_time - дата создания купона, <br>
		repeatedly - кол-во раз использования. <br><br>
		</p>
		<p>объект discounter содержит:<br>
		email - email магазина, <br>
		phone - телефон магазина, <br>
		first_name - имя, <br>
		last_name - фамилия, <br>
		avatar - логотип, <br>
		company_name - название организации, <br>
		address - адрес организации. <br><br>
		</p>
		<p>объект category содержит:<br>
		id - id категории, <br>
		title - название категории, <br>
		image - иконка категории. <br><br>
		</p>
		<p>объект album содержит:<br>
		image - альбом купона <br><br><br><br>
		</p>
		<p>пример json поступающего в ответ</p>
		<div id="wrapper" class="col-md-6">
<!-- Nav tabs -->
<ul id="codes" class="nav nav-tabs" role="tablist" style="padding: 10px;">
		  <div role="tabpanel" class="tab-pane active" id="tab-1-content">
		  	<div class="tab-content" style="z-index:4;">
    <pre class="prettyprint linenums lang-json" style="color: #3E403F; line-height: 1.6; font-size:0.8em;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;">
{
    "data": {
        "data": [
            {
                "id": 4,
                "percent": "20%",
                "limited_quantity": null,
                "coupon_balance": null,
                "discounter": {
                    "email": "shilowstanislaw@gmail.com",
                    "phone": "+79914343465",
                    "first_name": "Стас",
                    "last_name": "Шилов",
                    "avatar": "/media/shilowstanislaw%40gmail.com/shilowstanislaw%40gmail.com_MDzgSwN.jpg",
                    "cover_image": "/media/shilowstanislaw%40gmail.com/shilowstanislaw%40gmail.com_UbYXjLm.jpg",
                    "company_name": "FoodHub",
                    "address": "Санкт-Петербург Невский 121",
                    "category": {
                        "id": 4,
                        "title": "Строительство",
                        "image": "/media/%D0%A1%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE/%D0%A1%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE.jpg"
                    },
                    "branch": []
                },
                "description": "скидка на корпоратив",
                "validity": "2019-12-31",
                "init_time": "2019-06-03",
                "repeatedly": 3,
                "album": [
                    {
                        "id": 7,
                        "image": "/media/foodhub/4_mDKGRBk.jpg"
                    }
                ]
            },
            {
                "id": 3,
                "percent": "30",
                "limited_quantity": 2,
                "coupon_balance": 0,
                "discounter": {
                    "email": "shilowstanislaw@gmail.com",
                    "phone": "+79914343465",
                    "first_name": "Стас",
                    "last_name": "Шилов",
                    "avatar": "/media/shilowstanislaw%40gmail.com/shilowstanislaw%40gmail.com_MDzgSwN.jpg",
                    "cover_image": "/media/shilowstanislaw%40gmail.com/shilowstanislaw%40gmail.com_UbYXjLm.jpg",
                    "company_name": "FoodHub",
                    "address": "Санкт-Петербург Невский 121",
                    "category": {
                        "id": 4,
                        "title": "Строительство",
                        "image": "/media/%D0%A1%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE/%D0%A1%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE.jpg"
                    },
                    "branch": []
                },
                "description": "скидка на пиццу после 21:00",
                "validity": "2019-11-14",
                "init_time": "2019-06-03",
                "repeatedly": 3,
                "album": [
                    {
                        "id": 4,
                        "image": "/media/foodhub/3.jpg"
                    },
                    {
                        "id": 5,
                        "image": "/media/foodhub/3_Zdx3m4v.jpg"
                    },
                    {
                        "id": 6,
                        "image": "/media/foodhub/3_h5UZi2A.jpg"
                    }
                ]
            },
            {
                "id": 6,
                "percent": "100",
                "limited_quantity": null,
                "coupon_balance": null,
                "discounter": {
                    "email": "shilowstanislaw@gmail.com",
                    "phone": "+79914343465",
                    "first_name": "Стас",
                    "last_name": "Шилов",
                    "avatar": "/media/shilowstanislaw%40gmail.com/shilowstanislaw%40gmail.com_MDzgSwN.jpg",
                    "cover_image": "/media/shilowstanislaw%40gmail.com/shilowstanislaw%40gmail.com_UbYXjLm.jpg",
                    "company_name": "FoodHub",
                    "address": "Санкт-Петербург Невский 121",
                    "category": {
                        "id": 4,
                        "title": "Строительство",
                        "image": "/media/%D0%A1%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE/%D0%A1%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE.jpg"
                    },
                    "branch": []
                },
                "description": "купон спецом для IvanIOS",
                "validity": "2919-07-16",
                "init_time": "2019-07-16",
                "repeatedly": 100,
                "album": []
            },
            {
                "id": 7,
                "percent": "20%",
                "limited_quantity": 20,
                "coupon_balance": 20,
                "discounter": {
                    "email": "stanislao.shilov@yandex.ru",
                    "phone": null,
                    "first_name": "",
                    "last_name": "",
                    "avatar": null,
                    "cover_image": null,
                    "company_name": "TestInfo",
                    "address": "TestInfo",
                    "category": {
                        "id": 1,
                        "title": "спорт1",
                        "image": "/media/%D1%81%D0%BF%D0%BE%D1%80%D1%82/%D1%81%D0%BF%D0%BE%D1%80%D1%82_4rwhaPc.jpg"
                    },
                    "branch": []
                },
                "description": "тестовая",
                "validity": "2020-01-31",
                "init_time": "2020-01-29",
                "repeatedly": 1,
                "album": []
            },
            {
                "id": 8,
                "percent": "500",
                "limited_quantity": 100,
                "coupon_balance": 100,
                "discounter": {
                    "email": "kamaz55111@mail.ru",
                    "phone": "89534427854",
                    "first_name": "Кирилл",
                    "last_name": "Юшин",
                    "avatar": null,
                    "cover_image": "/media/kamaz55111%40mail.ru/kamaz55111mail.ru_d40g9yr.jpg",
                    "company_name": "ЦентрСтрой",
                    "address": "Новомосковск",
                    "category": {
                        "id": 4,
                        "title": "Строительство",
                        "image": "/media/%D0%A1%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE/%D0%A1%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE.jpg"
                    },
                    "branch": []
                },
                "description": "При заказе от 8 куб.м. доставка БЕСПЛАТНО",
                "validity": "2020-02-29",
                "init_time": "2020-01-30",
                "repeatedly": 1,
                "album": []
            }
        ],
        "msg": "успешно"
    }
}
    </pre></div>
</div></ul></div>
        <p>Если limited_quantity = null и coupon_balance = null, то кол-во купонов не ограничено</p>
		</article>
<article>
		<header>
			<h1>Аккаунт пользователя (клиенты)</h1>
		</header>
	
		<p>Аккаунт пользователя доступен только авторизированным пользователям. Как говорилось в пункте "авторизация", данный контент доступен только при
		наличии токена в заголовках запроса. Получить данные можно благодаря GET .../api/v1/account/client. В случае успешного запроса в ответ будет получен JSON объект.<br><br>
		объект содержит в себе:<br>
		age - возраст пользователя, <br>
		avatar - аватарка пользователя, <br>
		email - email пользователя, <br>
		favorites - список купонов добавленных в избранное, <br>
		first_name - имя, <br>
		last_name - фамилия, <br>
		gender - пол, по умолчанию "не выбрано", <br>
		phone - телефон. <br><br>
		<br><br>
		</p>
		<p>пример json поступающего в ответ</p>
		<div id="wrapper" class="col-md-6">
<!-- Nav tabs -->
<ul id="codes" class="nav nav-tabs" role="tablist" style="padding: 10px;">
		  <div role="tabpanel" class="tab-pane active" id="tab-1-content">
		  	<div class="tab-content" style="z-index:4;">
    <pre class="prettyprint linenums lang-json" style="color: #3E403F; line-height: 1.6; font-size:0.8em;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;">
    
    {
        "data": {
            "data": {
                "age" : "null"
                "avatar": "null"
                "email": "null"
                "favorites": "null"
                "first_name": "null"
                "gender": "0"
                "last_name": "null"
                "phone": "+7 999 888 77 66"
                "msg": {
                    "ret": "200",
                    "msg": "true"
                    }
            }
        }
  	}
  	
  	</pre></div>
</div></ul></div>

		</article>
        <article>
        <header>
            <h1>обновление данных аккаунта клиента</h1>
        </header>
    
        <p>Для обновления данных клиента необхожимо отправить запрос PUT .../api/v1/account/client/. 
        Сервер принимает пустые поля данных: если пользователь отправил пустое поле данных при изменении,
        то он сочел нужным сетерть эту информацию. Поскольку данный метод предусматривает загрузку изображения,
        во избежание проблем с кодировкой в обязательном порядке следует использовать enctype="multipart/form-data"
        в форме. Также, в случе, если поле не заполнено или небыло изменено, его необязательно отправлять параметрами в запрос. Кол-во параметров в запросе может быть разным.
        
        данные пользовтеля:<br>
        age - возраст пользователя. Принимает в качестве занчения любое натуральное число, <br>
        avatar - изображение, <br>
        email - email пользователя, <br>
        first_name - имя, <br>
        last_name - фамилия, <br>
        gender - пол, по умолчанию не выбрано (0). Принимат значение от 0 до 2.
        0 - не выбрано, 1 - мужчина, 2 - женщина.
        <br>
        phone - телефон. Принимает значение нового телефона и не меняет значение логина.(смена логина пока под вопросом) <br><br>
        <br>
        <br>В случае успешного запроса в ответ будет получен JSON объект.<br><br>

        </p>
        <p>пример json поступающего в ответ</p>
        <div id="wrapper" class="col-md-6">
<!-- Nav tabs -->
<ul id="codes" class="nav nav-tabs" role="tablist" style="padding: 10px;">
          <div role="tabpanel" class="tab-pane active" id="tab-1-content">
            <div class="tab-content" style="z-index:4;">
    <pre class="prettyprint linenums lang-json" style="color: #3E403F; line-height: 1.6; font-size:0.8em;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;">
    
    {
        "data": {
            "msg": {
                "msg" : ""данные успешно сохранены""
                "ret": 200
            }
        }
    }
    
    </pre></div>
</div></ul></div>

        </article>
            <article>
        <header>
            <h1>Избранное Клиента</h1>
        </header>
        <p> Избранное клиента - списко из объектов купонов которые пользователь добавил в
        избранное</p>
        
        <p> Для получение списка необходимо отправить GET запрос по адресу
            .../api/v1/account/favorites/. Данный url преднозначен для
            отображения индивидуальных объектов (купонов) аккаунта и, как и для других
            авторизованных запросов, этот запрос требует наличия авторизацонного токена
            в параметрах запроса. В случае успешного запроса в ответ будет получен массив "favorites"
            из всех купонов, которые пользователь добавил к себе. 
        </p>
        <div id="wrapper" class="col-md-6">
<!-- Nav tabs -->
<ul id="codes" class="nav nav-tabs" role="tablist" style="padding: 10px;">
          <div role="tabpanel" class="tab-pane active" id="tab-1-content">
            <div class="tab-content">
                <pre class="prettyprint linenums lang-java" style="color: #3E403F; line-height: 1.6; font-size:0.8em;">
                    {
    "data": {
        "data": [
            {
                "album": [],
                "discounter": {
                    "email": "shilowstanislaw@gmail.com",
                    "phone": null,
                    "first_name": "",
                    "last_name": "",
                    "avatar": null,
                    "company_name": null,
                    "address": null,
                    "category": {
                        "id": 2,
                        "title": "еда",
                        "image": "/media/%D0%B5%D0%B4%D0%B0/%D0%B5%D0%B4%D0%B0.jpg"
                    }
                },
                "id": 2,
                "description": "скидка на первые блюда",
                "validity": "2019-11-18 01:12:30",
                "init_time": "2019-05-19",
                "repeatedly": 1,
            }
        ],
        "msg": {
            "ret": 200,
            "msg": "true"
        }
    }
}
                </pre>
            </div>
</div></ul></div>
</article>

            <article>
        <header>
            <h1>Добавление в избранное клиента</h1>
        </header>
        <p>Добавление купона в избранное это первый этап клиентской активности</p>
        
        <p>Основной возможностью клиента в приложении является добавление купона в избранное
        и последующая активации в соответствии с заявленным кол-вом раз  при создании купоны дискоунтером.
        Активация со сотороны клиента возможна только у тех купонов, которые клиент добавил к себе в избранное.</br>
        Для добавления купона в избранное нужно отправить POST запрос по адресу
        .../api/v1/account/favorites/ c параметром coupon_id - id купона, получнное из общего
        списка купонов. Данный урл требует токен авторизации в параметрах запроса.</br>
        В случае успеха в ответ будет получен статус об исполнении запроса. 
        </p>
        <div id="wrapper" class="col-md-6">
<!-- Nav tabs -->
<ul id="codes" class="nav nav-tabs" role="tablist" style="padding: 10px;">
          <div role="tabpanel" class="tab-pane active" id="tab-1-content">
            <div class="tab-content">
                <pre class="prettyprint linenums lang-java" style="color: #3E403F; line-height: 1.6; font-size:0.8em;">
                        {
                            "data": {
                                "msg": {
                                    "msg" : "купон успешно добавлен"
                                    "ret": 200
                                }
                            }
                        }
                </pre>
            </div>
</div></ul></div>
</article>

    <article>
        <header>
            <h1>Удаление купона из избранного</h1>
        </header>
        <p>Для удаления купона из избранного нужно отправить DELETE запрос по адресу
        .../api/v1/account/favorites/ c параметром coupon_id - id купона. 
        Данный урл требует токен авторизации в параметрах запроса.</br>
        В случае успеха в ответ будет получен статус об исполнении запроса.</p>
    <p>В случае успешного выполнения опреции сервер вернет статус 200 и сообщение об успешном удалении данных</p>
        <div id="wrapper" class="col-md-6">
<!-- Nav tabs -->
<ul id="codes" class="nav nav-tabs" role="tablist" style="padding: 10px;">
          <div role="tabpanel" class="tab-pane active" id="tab-1-content">
            <div class="tab-content">
                <pre class="prettyprint linenums lang-java" style="color: #3E403F; line-height: 1.6; font-size:0.8em;">
                        {
                            "data": {
                                "msg": {
                                    "msg" : "данные успешно удалены"
                                    "ret": 200
                                }
                            }
                        }
                </pre>
            </div>
</div></ul></div>
</article>
		<article>
		<header>
			<h1>Аккаунт организации (дискоунтера)</h1>
		</header>
	
		<p>Аккаунт организации доступен только авторизированным пользователям. Как говорилось в пункте "авторизация", данный контент доступен только при
		наличии токена в заголовках запроса. Получить данные можно балгодара GET .../api/v1/account/discounter. В случае успешного запроса в ответ будет получен JSON объект.<br><br>
		объtrn содержит в себе:<br>
		company_name - название организации, <br>
		avatar - аватарка / логотип организации, <br>
		email - email оргранизации, <br>
		сoupon - список купонов организации, <br>
		branch - список филиалов организации, <br>
		rate - тариф(содержит в себе название и срок действия), <br>
		address -  adress организации,
		phone - телефон организации. <br><br>
		<br><br>
		</p>
		<p>пример json поступающего в ответ</p>
		<div id="wrapper" class="col-md-6">
<!-- Nav tabs -->
<ul id="codes" class="nav nav-tabs" role="tablist" style="padding: 10px;">
		  <div role="tabpanel" class="tab-pane active" id="tab-1-content">
		  	<div class="tab-content" style="z-index:4;">
    <pre class="prettyprint linenums lang-json" style="color: #3E403F; line-height: 1.6; font-size:0.8em;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;">
    
    {
        "data": {
            "data": {
                "company_name" : "null",
                "avatar": "null",
                "email": "null",
                "first_name": "null",
                "last_name": "null",
                "coupon": [],
                "rate":[],
                "branch": [],
                "address" : "null",
                "phone": "+7 999 888 77 66",
                "msg": {
                    "ret": "200",
                    "msg": "true"
                    }
            }
        }
  	}
  	
  	</pre></div>
</div></ul></div>

		</article>

        <article>
        <header>
            <h1>обновление данных аккаунта организации</h1>
        </header>
    
        <p>Для обновления данных клиента необхожимо отправить запрос PUT .../api/v1/account/discounter/. 
        Сервер принимает пустые поля данных: если пользователь отправил пустое поле данных при изменении,
        то он сочел нужным стерть эту информацию. Поскольку данный метод предусматривает загрузку изображения,
        во избежание проблем с кодировкой в обязательном порядке следует использовать enctype="multipart/form-data"
        в форме. Также, в случе, если поле не заполнено или небыло изменено, его необязательно отправлять параметрами в запрос. Кол-во параметров в запросе может быть разным.

        данные пользовтеля:<br>
        avatar - изображение, <br>
        phone - телефон организации, <br>
        first_name - имя, <br>
        last_name - фамилия, <br>
        address - адрес организации, <br>
        company_name - название организации <br>
        
        <br>
        email - email организации. Принимает значение нового email и не меняет значение логина. (смена логина пока под вопросом) <br><br>
        <br>
        <br>В случае успешного запроса в ответ будет получен JSON объект.<br><br>

        </p>
        <p>пример json поступающего в ответ</p>
        <div id="wrapper" class="col-md-6">
<!-- Nav tabs -->
<ul id="codes" class="nav nav-tabs" role="tablist" style="padding: 10px;">
          <div role="tabpanel" class="tab-pane active" id="tab-1-content">
            <div class="tab-content" style="z-index:4;">
    <pre class="prettyprint linenums lang-json" style="color: #3E403F; line-height: 1.6; font-size:0.8em;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;">
    
    {
        "data": {
            "msg": {
                "msg" : ""данные успешно обновлены""
                "ret": 200
            }
        }
    }
    
    </pre></div>
</div></ul></div>

        </article>
	

    <article>
        <header>
            <h1>Удаление аккаунта</h1>
        </header>
    <p>Сылки .../api/v1/account/client/, как и .../api/v1/account/discounter/ принимают три типа запросов,
    как было описано выше: GET для отображения, PUT для обновления данных. Для удаления аккаунта
    необходимо отправить DELETE запрос без каких либо параметров. </p>
    <p>В случае успешного выполнения опреции сервер вернет статус 200 и сообщение об успешном удалении данных</p>

</article>

 <article>
        <header>
            <h1>Филиалы организаций</h1>
        </header>
    
        <p>В соотсветствии с бизнеслогикой проложения. Каждая организация(дискоунтер) может создавать, редактировать и удалять свои филиалы. Для создания филиала необходимо отправить POST запрос по адресу
        .../api/vi/branch/.<br>
        
        параметры ожидаемые при POST запроса:
        
        - avatar - изображение, <br>
        - description - описание, <br>
        - address - адрес организации, <br>
        - name - название организации <br>
        
        <p>Для обновления данных филиала необходимо отправить PUT запрос, на указанный выше адрес<br>
        
        параметры ожидаемые при PUT запроса:
        
        - branch_id - id филиала, <br>
        - avatar - изображение, <br>
        - description - описание, <br>
        - address - адрес организации, <br>
        - name - название организации <br>

        параметры ожидаемые при POST запроса:
        
        <p>Для обновления данных филиала необходимо отправить DELETE запрос, на указанный выше адрес<br>
        
        - branch_id - id филиала, <br>

        <br>В случае успешного запроса в ответ будет получен JSON объект cо статусом выплнения опреции в
        зависимости от типа запроса<br><br>

        </p>
        <p>пример json поступающего в ответ</p>
        <div id="wrapper" class="col-md-6">
<!-- Nav tabs -->
<ul id="codes" class="nav nav-tabs" role="tablist" style="padding: 10px;">
          <div role="tabpanel" class="tab-pane active" id="tab-1-content">
            <div class="tab-content" style="z-index:4;">
    <pre class="prettyprint linenums lang-json" style="color: #3E403F; line-height: 1.6; font-size:0.8em;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;">
    
    {
        "data": {
            "msg": {
                "msg" : ""данные успешно обновлены""
                "ret": 200
            }
        }
    }
    
    </pre></div>
</div></ul></div>

        </article>

<article>
        <header>
            <h1>Купоны организаций</h1>
        </header>
    
        <p>В соотсветствии с бизнеслогикой проложения. Каждая организация(дискоунтер) может создавать, редактировать и удалять свои купоны. Для создания купона необходимо отправить POST запрос по адресу
        .../api/v1/account/coupon/.<br>
        
        параметры ожидаемые при POST запроса:
        'files',
        'description',
        'validity',
        'percent',
        'limited_quantity',
        'repeatedly',

        - files - изображения (может быть несколько), <br>
        - description - описание купона, <br>
        - validity - срок действия купона (локальное время в фрмате 2019-11-13T20:00+00:00) <br>
        - percent - процент скидки (строкове значение. Ожидается с конкатинированным знаком процента)<br>
        - limited_quantity - кол-во купонов<br>
        - repeatedly - кол-во раз использования каждого купона<br>
        
        <p>Для обновления данных купона необходимо отправить PUT запрос, на указанный выше адрес<br>
        
        параметры ожидаемые при PUT запроса:
        
        - coupon_id - id купона, <br>
        - files - изображения (может быть несколько), <br>
        - description - описание купона, <br>
        - validity - срок действия купона (локальное время в фрмате 2019-11-13T20:00+00:00) <br>
        - percent - процент скидки (строкове значение. Ожидается с конкатинированным знаком процента)<br>
        - limited_quantity - кол-во купонов<br>
        - repeatedly - кол-во раз использования каждого купона<br>
        - del_image_by_id - параметр(метод) принимающий id удаляемых изображений. Метод принимает значения через
        запятую без пробелов или непринимает ничего, но обязателен, пример: ...&del_image_by_id=14,33,44,2

        параметры ожидаемые при POST запроса:
        
        <p>Для удаления купона необходимо отправить DELETE запрос, на указанный выше адрес<br>
        
        - coupon_id - id купона, <br>

        <br>В случае успешного запроса в ответ будет получен JSON объект cо статусом выплнения опреции в
        зависимости от типа запроса<br><br>

        </p>
        
        <p>пример json поступающего в ответ</p>
        <div id="wrapper" class="col-md-6">
<!-- Nav tabs -->
<ul id="codes" class="nav nav-tabs" role="tablist" style="padding: 10px;">
          <div role="tabpanel" class="tab-pane active" id="tab-1-content">
            <div class="tab-content" style="z-index:4;">
    <pre class="prettyprint linenums lang-json" style="color: #3E403F; line-height: 1.6; font-size:0.8em;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;">
    
    {
        "data": {
            "msg": {
                "msg" : ""данные успешно сохранены""
                "ret": 200
            }
        }
    }
    
    </pre></div>
</div></ul></div>

        </article>
    <article>
        <header>
            <h1>Клиентскаяя активация купонов </h1>
        </header>
    <p>Клиентская активация купона (активация купона клиентом), возможно только в случае, если купон добвален
    клентом в избранное и все остальные параметры, типа срока действия купона, кол-во раз на использование каждого купона позволяют это сделать. Каждый раз, когда срабатывает то или иное условия непозовляющее активировать купон, клиент получает в ответ сообщение содержащий причину отказа.</p>
    <p>Для активации необходимо отправить POST запрос по адресу .../api/v1/coupon_activate/ c обязательным параметром coupon_id. </p>
    <p>В случае успешного выполнения опреции сервер вернет  активационный код и сообщение об успешной
    активации купона</p>

    <ul id="codes" class="nav nav-tabs" role="tablist" style="padding: 10px;">
          <div role="tabpanel" class="tab-pane active" id="tab-1-content">
            <div class="tab-content" style="z-index:4;">
    <pre class="prettyprint linenums lang-json" style="color: #3E403F; line-height: 1.6; font-size:0.8em;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;">
    
    {
        "data": {
            "code": "307145692",
            "msg": "купон успешно активирован"
        }
    }
    
    </pre></div>
</div></ul></div>

</article>
    <header>
            <h1>Список акиваций купонов</h1>
    </header>
    <p>Клиентская активация купона (активация купона клиентом), возможно только в случае, если купон добвален
    клентом в избранное и все остальные параметры, типа срока действия купона, кол-во раз на использование каждого купона позволяют это сделать. Каждый раз, когда срабатывает то или иное условия непозовляющее активировать купон, клиент получает в ответ сообщение содержащий причину отказа.</p>
    <p>Для активации необходимо отправить GET запрос по адресу .../api/v1/coupon_activate/ не передавая никаких параметров</p>
    <p>В случае успешного выполнения запроса в ответ будет получен массив из объектов клиентских активаций.
        Каждая из них содержит:<br>
        code - код активации,
        usage - информацию о купоне,
        usage_date - дату использования</p>
    
    <ul id="codes" class="nav nav-tabs" role="tablist" style="padding: 10px;">
          <div role="tabpanel" class="tab-pane active" id="tab-1-content">
            <div class="tab-content" style="z-index:4;">
    <pre class="prettyprint linenums lang-json" style="color: #3E403F; line-height: 1.6; font-size:0.8em;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;">
    
    {
        "data": {
            {
                "code": "307145692",
                "usage": {
                    "album": [...]б
                    "coupon_balance": 1,
                    "id": 3,
                    "discounter": {...},
                    "init_time": "209-06-03",
                    limited_quantity: 2,
                    "percent": "30%",
                    "repeatedly": 3,
                    "validity": 2019-11-14,
                },
                usage_date: "2019-06-03T07:03:43.060761+03:00",
            },
            ...
        }
    }
    
    </pre></div>
</div></ul></div>

</article>
	<aside class="cd-read-more">
		<ul>
			<li>
				<a href="#регистрация">
					<em>регистрация клиентов</em>
					<svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
				</a>
			</li>
			<li>
				<a href="#регистрация">
					<em>регистрация дискоунтеров</em>
					<svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
				</a>
			</li>

			<li>
				<a href="#авторизация">
					<em>авторизация</em>
					<svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
				</a>
			</li>

            <li>
                <a href="#logout">
                    <em>выход и удаление auth_token</em>
                    <svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
                </a>
            </li>
			<li>
				<a href="#reset_password">
					<em>смена паролья</em>
					<svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
				</a>
			</li>
			<li>
				<a href="#купоны">
					<em>список всех купонов</em>
					<svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
				</a>
			</li>
			<li>
				<a href="#аккаунт_клиента">
					<em>аккаунт клиента</em>
					<svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
				</a>
			</li>
             <li>
                <a href="#обновление_данных_клиента">
                    <em>обновление данных клиента</em>
                    <svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
                </a>
            </li>
            <li>
                <a href="#избранное_клиента">
                    <em>избранное клиента</em>
                    <svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
                </a>
            </li>
            <li>
                <a href="#добавить_избранное">
                    <em>добавить в избранное</em>
                    <svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
                </a>
            </li>
            <li>
                <a href="#удалить_из_избранного">
                    <em>удаление купона из избранного клиента</em>
                    <svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
                </a>
            </li>
			<li>
				<a href="#аккаунт_дискоунтера">
					<em>аккаунт дискоунтера</em>
					<svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
				</a>
			</li>
            <li>
                <a href="#обновление_данных_аккаунта_дискоунтера">
                    <em>аккаунт дискоунтера (обновление данных)</em>
                    <svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
                </a>
            </li>
            <li>
                <a href="#удаление_аккаунта">
                    <em>удаление аккаунта</em>
                    <svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
                </a>
            </li>
            <li>
                <a href="#филиалы">
                    <em>филиалы организаций</em>
                    <svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
                </a>
            </li>
            <li>
                <a href="#купоны">
                    <em>купоны</em>
                    <svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
                </a>
            </li>
            <li>
                <a href="#акутивация_купона">
                    <em>акутивация купона</em>
                    <svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
                </a>
            </li>
            <li>
                <a href="#акутивация_купона">
                    <em>список активаций</em>
                    <svg x="0px" y="0px" width="36px" height="36px" viewBox="0 0 36 36"><circle fill="none" stroke-width="2" cx="18" cy="18" r="16" stroke-dasharray="100 100" stroke-dashoffset="100" transform="rotate(-90 18 18)"></circle></svg>
                </a>
            </li>
		</ul>
	</aside> <!-- .cd-read-more -->
</div> <!-- .cd-articles -->

<footer class="cd-footer">
	<p>стас шилов 05/04/2019</p>
</footer>

<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>