{% load static %}
<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml">  
<head runat="server">  
    <title></title>  
    <meta charset="UTF-8">
     <title></title>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
         <style type="text/css">
            @import url('https://fonts.googleapis.com/css?family=Montserrat:700');
            @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
                    * {
                	margin: 0px; 
                	padding: 0px; 
                	box-sizing: border-box;
                }
                
                body, html {
                	height: 100%;
                	font-family: Poppins-Regular, sans-serif;
                }
                
                /*---------------------------------------------*/
                a {
                	font-family: Poppins-Regular;
                	font-size: 14px;
                	line-height: 1.7;
                	color: #666666;
                	margin: 0px;
                	transition: all 0.4s;
                	-webkit-transition: all 0.4s;
                  -o-transition: all 0.4s;
                  -moz-transition: all 0.4s;
                }
                
                a:focus {
                	outline: none !important;
                }
                
                a:hover {
                	text-decoration: none;
                  color: #6862d5;
                }
                
                /*---------------------------------------------*/
                h1,h2,h3,h4,h5,h6 {
                	margin: 0px;
                }
                
                p {
                	font-family: Poppins-Regular;
                	font-size: 14px;
                	line-height: 1.7;
                	color: #666666;
                	margin: 0px;
                }
                
                ul, li {
                	margin: 0px;
                	list-style-type: none;
                }
                
                
                /*---------------------------------------------*/
                input {
                	outline: none;
                	border: none;
                }
                
                textarea {
                  outline: none;
                  border: none;
                }
                
                textarea:focus, input:focus {
                  border-color: transparent !important;
                }
                
                input:focus::-webkit-input-placeholder { color:transparent; }
                input:focus:-moz-placeholder { color:transparent; }
                input:focus::-moz-placeholder { color:transparent; }
                input:focus:-ms-input-placeholder { color:transparent; }
                
                textarea:focus::-webkit-input-placeholder { color:transparent; }
                textarea:focus:-moz-placeholder { color:transparent; }
                textarea:focus::-moz-placeholder { color:transparent; }
                textarea:focus:-ms-input-placeholder { color:transparent; }
                
                input::-webkit-input-placeholder { color: #999999; }
                input:-moz-placeholder { color: #999999; }
                input::-moz-placeholder { color: #999999; }
                input:-ms-input-placeholder { color: #999999; }
                
                textarea::-webkit-input-placeholder { color: #999999; }
                textarea:-moz-placeholder { color: #999999; }
                textarea::-moz-placeholder { color: #999999; }
                textarea:-ms-input-placeholder { color: #999999; }
                
                /*---------------------------------------------*/
                button {
                	outline: none !important;
                	border: none;
                	background: transparent;
                }
                
                button:hover {
                	cursor: pointer;
                }
                
                iframe {
                	border: none !important;
                }
                
                
                /*//////////////////////////////////////////////////////////////////
                [ Utility ]*/
                .txt1 {
                  font-family: Poppins-Regular;
                  font-size: 13px;
                  line-height: 1.5;
                  color: #999999;
                }
                
                .txt2 {
                  font-family: Poppins-Regular;
                  font-size: 13px;
                  line-height: 1.5;
                  color: #666666;
                }
                
                
                /*//////////////////////////////////////////////////////////////////
                [ login ]*/
                
                .limiter {
                  width: 100%;
                  margin: 0 auto;
                }
                
                .container-login100 {
                  width: 100%;
                  min-height: 100vh;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  align-items: center;
                  padding: 15px;
                  background: #9053c7;
                  background: -webkit-linear-gradient(-135deg, #ff512f, #dd2476);
                  background: -o-linear-gradient(-135deg, #ff512f, #dd2476);
                  background: -moz-linear-gradient(-135deg, #ff512f, #dd2476);
                  background: linear-gradient(-135deg, #ff512f, #dd2476);
                }
                
                .wrap-login100 {
                  width: 960px;
                  background: #fff;
                  border-radius: 10px;
                  overflow: hidden;
                
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  padding: 30px 130px 33px 95px;
                }
                
                /*------------------------------------------------------------------
                [  ]*/
                .login100-pic {
                  width: 316px;
                }
                
                .login100-pic img {
                  max-width: 100%;
                }
                
                
                /*------------------------------------------------------------------
                [  ]*/
                .login100-form {
                  width: 290px;
                }
                
                .login100-form-title {
                  font-family: Poppins-Bold;
                  font-size: 24px;
                  color: #333333;
                  line-height: 1.2;
                  text-align: center;
                
                  width: 100%;
                  display: block;
                  padding-bottom: 54px;
                }
                
                
                /*---------------------------------------------*/
                .wrap-input100 {
                  position: relative;
                  width: 100%;
                  z-index: 1;
                  margin-bottom: 10px;
                }
                
                .input100 {
                  font-family: Poppins-Medium;
                  font-size: 15px;
                  line-height: 1.5;
                  color: #666666;
                
                  display: block;
                  width: 100%;
                  background: #e6e6e6;
                  height: 50px;
                  border-radius: 25px;
                  padding: 0 30px 0 68px;
                }
                
                
                /*------------------------------------------------------------------
                [ Focus ]*/
                .focus-input100 {
                  display: block;
                  position: absolute;
                  border-radius: 25px;
                  bottom: 0;
                  left: 0;
                  z-index: -1;
                  width: 100%;
                  height: 100%;
                  box-shadow: 0px 0px 0px 0px;
                  color: rgba(#6862d5);
                }
                
                .input100:focus + .focus-input100 {
                  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
                  animation: anim-shadow 0.5s ease-in-out forwards;
                }
                
                @-webkit-keyframes anim-shadow {
                  to {
                    box-shadow: 0px 0px 70px 25px;
                    opacity: 0;
                  }
                }
                
                @keyframes anim-shadow {
                  to {
                    box-shadow: 0px 0px 70px 25px;
                    opacity: 0;
                  }
                }
                
                .symbol-input100 {
                  font-size: 15px;
                
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: flex;
                  align-items: center;
                  position: absolute;
                  border-radius: 25px;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  padding-left: 35px;
                  pointer-events: none;
                  color: #666666;
                
                  -webkit-transition: all 0.4s;
                  -o-transition: all 0.4s;
                  -moz-transition: all 0.4s;
                  transition: all 0.4s;
                }
                
                .input100:focus + .focus-input100 + .symbol-input100 {
                  color: #6862d5;
                  padding-left: 28px;
                }
                
                /*------------------------------------------------------------------
                [ Button ]*/
                .container-login100-form-btn {
                  width: 100%;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  padding-top: 20px;
                }
                
                .login100-form-btn {
                  font-family: Montserrat-Bold;
                  font-size: 15px;
                  line-height: 1.5;
                  color: #fff;
                  text-transform: uppercase;
                
                  width: 100%;
                  height: 50px;
                  border-radius: 25px;
                  background: #6862d5;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 0 25px;
                
                  -webkit-transition: all 0.4s;
                  -o-transition: all 0.4s;
                  -moz-transition: all 0.4s;
                  transition: all 0.4s;
                }
                
                .login100-form-btn:hover {
                  background: #333333;
                }
                
                
                
                /*------------------------------------------------------------------
                [ Responsive ]*/
                
                
                
                @media (max-width: 992px) {
                  .wrap-login100 {
                    padding: 50px 90px 33px 85px;
                  }
                
                  .login100-pic {
                    width: 35%;
                  }
                
                  .login100-form {
                    width: 50%;
                  }
                }
                
                @media (max-width: 768px) {
                  .wrap-login100 {
                    padding: 50px 80px 33px 80px;
                  }
                
                  .login100-pic {
                    display: none;
                  }
                
                  .login100-form {
                    width: 100%;
                  }
                }
                
                @media (max-width: 576px) {
                  .wrap-login100 {
                    padding: 50px 15px 33px 15px;
                  }
                }
                .p-t-136 {
                    padding-top: 136px;
                }
                .p-t-12 {padding-top: 12px;}
                /* ------------------------------------ */
                .text-center {text-align: center;}
                .text-left {text-align: left;}
                .text-right {text-align: right;}
                .text-middle {vertical-align: middle;}
                /*------------------------------------------------------------------
                [ Alert validate ]*/
                
                .validate-input {
                  position: relative;
                }
                
                .alert-validate::before {
                  content: attr(data-validate);
                  position: absolute;
                  max-width: 70%;
                  background-color: white;
                  border: 1px solid #c80000;
                  border-radius: 13px;
                  padding: 4px 25px 4px 10px;
                  top: 50%;
                  -webkit-transform: translateY(-50%);
                  -moz-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                  -o-transform: translateY(-50%);
                  transform: translateY(-50%);
                  right: 8px;
                  pointer-events: none;
                
                  font-family: Poppins-Medium;
                  color: #c80000;
                  font-size: 13px;
                  line-height: 1.4;
                  text-align: left;
                
                  visibility: hidden;
                  opacity: 0;
                
                  -webkit-transition: opacity 0.4s;
                  -o-transition: opacity 0.4s;
                  -moz-transition: opacity 0.4s;
                  transition: opacity 0.4s;
                }
                
                .alert-validate::after {
                  content: "\f06a";
                  font-family: FontAwesome;
                  display: block;
                  position: absolute;
                  color: #c80000;
                  font-size: 15px;
                  top: 50%;
                  -webkit-transform: translateY(-50%);
                  -moz-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                  -o-transform: translateY(-50%);
                  transform: translateY(-50%);
                  right: 13px;
                }
                
                .alert-validate:hover:before {
                  visibility: visible;
                  opacity: 1;
                }
                
                @media (max-width: 992px) {
                  .alert-validate::before {
                    visibility: visible;
                    opacity: 1;
                  }
                }
                /**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4CAF50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
  content: '';
  height: 100px;
  position: absolute;
  background: #FFFFFF;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #FFFFFF;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

.text_ura{
  float: right;
  padding-bottom: 20px;
}
         </style>
            <script src="https://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript"></script>
            <script type="text/javascript">
            function ready() {
                $(".check-icon").hide();
                setTimeout(function () {
                  $(".check-icon").show();
                }, 10);
                
              }
        </script>
    </head>
    <body>
    <div class="limiter">
		<div class="container-login100">
		  
			<div class="wrap-login100">
			  <h3 class="text_ura"> Поздравляем. Пароль успешно изменен. Письмо с новым паролем отправлено вам на почту.</h3>
			  <div class="login100-pic js-tilt">
					<img src="https://2.bp.blogspot.com/-l9nGy2e3PnA/XLzG5A6u_cI/AAAAAAAAAgI/31bl8XZOrTwN0kTN8c18YOG3OhNiTUrsQCLcBGAs/s1600/rocket.png" alt="IMG">
				</div>
				<form class="login100-form">
        <div class="success-checkmark">
          <div class="check-icon">
            <span class="icon-line line-tip"></span>
            <span class="icon-line line-long"></span>
            <div class="icon-circle"></div>
            <div class="icon-fix"></div>
          </div>
        </div>
        </form>
  		</div>
		</div>
	</div>
    </body>
</html>